.login{
    margin: 40px auto;
    max-width: 800px;
    background-color: #D1D1CF;
}

.card img{
    height: 100%;
}
.btn-login{
    background-color: black;
    color: white;
}

.card a{
    text-decoration: none;
}

.password-forgot .forgot a, .term-use a{
    font-size: 2vh;
    color: #7e8080;
}

.password-forgot .register{
    margin-top: -2vh;
}
.password-forgot .register a{
    color:#362796;
}

form{
    padding-right: 10vh;
}

.card {
    border-radius: 20px;
}

.card img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}